<h4>Minutes played Report</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let minutes of minutesPlayed">
            <th scope="row">{{minutes.id}}</th>
            <td>{{minutes.name}}</td>
            <td>{{minutes.total}}</td>
        </tr>
    </tbody>
</table>
<div style="text-align: center;">
    <p *ngIf="minutesPlayed.length === 0">
        No items to show
    </p>
</div>