<h4>Red cards Report</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of cards">
            <th scope="row">{{card.id}}</th>
            <td>{{card.name}}</td>
            <td>{{card.total}}</td>
        </tr>
    </tbody>
</table>
<div style="text-align: center;">
    <p *ngIf="cards.length === 0">
        No items to show
    </p>
</div>